{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu_styles.css' %}" />
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-items">
                <a style="text-decoration: none;" class="nav-item" href="#">Home</a>
                <a class="nav-item" href="#">Cart</a>
                <a class="nav-item" href="#">Orders</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="heading">Welcome to Our Restaurant!</h1>
        <div class="grid">
            {% for menu in menus %}
            <div class="card">
                <img src="{{ menu.url }}" />
                <div class="card-body">
                    <div class="card-sub-heading">
                        <span class="item-name">{{ menu.name }}</span><span class="item-price">${{ menu.price }}</span>
                    </div>
                    <span class="item-description">{{ menu.description }}</span>
                </div>
                <form class="add-item-form" method="post" action="{% url 'add_to_menu_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="menu_id" value="{{ menu.id }}" />
                    <button type="submit" class="add-item-btn">Add item</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>