{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu_styles.css' %}" />
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-items">
                <a style="text-decoration: none;" class="nav-item" href="#">Home</a>
                <a class="nav-item" href="#">Cart</a>
                <a class="nav-item" href="#">Orders</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="heading">Welcome to Our Restaurant!</h1>
        <div class="grid">
            <div class="card">
                <img src="https://png.pngtree.com/thumb_back/fw800/background/20230902/pngtree-various-fast-food-items-including-chicken-and-pizza-image_13158922.jpg" />
                <div class="card-body">
                    <div class="card-sub-heading">
                        <span class="item-name">KFC</span><span class="item-price">$58</span>
                    </div>
                    <span class="item-description">KFC</span>
                </div>
                <form class="" method="post" action="">
                    <button type="submit" class="add-item-btn">Add item</button>
                </form>
            </div>
            <div class="card">
                <img src="https://png.pngtree.com/thumb_back/fw800/background/20230902/pngtree-various-fast-food-items-including-chicken-and-pizza-image_13158922.jpg" />
                <div class="card-body">
                    <div class="card-sub-heading">
                        <span class="item-name">KFC</span><span class="item-price">$58</span>
                    </div>
                    <span class="item-description">KFC</span>
                </div>
                <form class="" method="post" action="">
                    <button type="submit" class="add-item-btn">Add item</button>
                </form>
            </div>
            <div class="card">
                <img src="https://png.pngtree.com/thumb_back/fw800/background/20230902/pngtree-various-fast-food-items-including-chicken-and-pizza-image_13158922.jpg" />
                <div class="card-body">
                    <div class="card-sub-heading">
                        <span class="item-name">KFC</span><span class="item-price">$58</span>
                    </div>
                    <span class="item-description">KFC</span>
                </div>
                <form class="" method="post" action="">
                    <button type="submit" class="add-item-btn">Add item</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>