{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard_styles.css' %}" />
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-items">
                <a href="#">Orders</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="heading">Dashboard</h1>
        <table class="cart-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Table</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>3</td>
              <td>Pizza</td>
              <td>3</td>
              <td>$68</td>
              <td>
                <span class="status-chip pending"
                  >PENDING</span
                >
              </td>
              <td>
                <form id="order-accept-form" method="post" action="#">
                  <input type="submit" class="action-btn accept-btn" value="Accept" />
                </form>
              </td>
            </tr>
            thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>3</td>
              <td>Pizza</td>
              <td>3</td>
              <td>$68</td>
              <td>
                <span class="status-chip pending"
                  >PENDING</span
                >
              </td>
              <td>
                <form id="order-accept-form" method="post" action="#">
                  <input type="submit" class="action-btn accept-btn" value="Accept" />
                </form>
              </td>
            </tr>
            thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>3</td>
              <td>Pizza</td>
              <td>3</td>
              <td>$68</td>
              <td>
                <span class="status-chip pending"
                  >PENDING</span
                >
              </td>
              <td>
                <form id="order-accept-form" method="post" action="#">
                  <input type="submit" class="action-btn accept-btn" value="Accept" />
                </form>
              </td>
            </tr>
            thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>3</td>
              <td>Pizza</td>
              <td>3</td>
              <td>$68</td>
              <td>
                <span class="status-chip pending"
                  >PENDING</span
                >
              </td>
              <td>
                <form id="order-accept-form" method="post" action="#">
                  <input type="submit" class="action-btn accept-btn" value="Accept" />
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</body>

</html>